[package]
name = "shared"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
chrono = { workspace = true }
jsonwebtoken = { workspace = true }
axum = { workspace = true }
